<header>
        <h1>Centro médico Backend</h1>
    </header>
    <main class="aplicativos">
        <h2>Listado médicos</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Número de cédula</th>
                    <th>Consultorio</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Especialidad</th>
                </tr>
            </thead>
            <tbody>
                {{#each resultado}}
                <tr>
                    <td>{{nombres}}</td>
                    <td>{{apellidos}}</td>
                    <td>{{cedula}}</td>
                    <td>{{consultorio}}</td>
                    <td>{{telefono}}</td>
                    <td>{{correo}}</td>
                    <td>{{especialidad}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <a href="../index.html"><input type="button" value="Volver"></a>
    </main>
    <footer>
        <h2>REALIZADO POR:</h2>
        <p>Mar&iacute;a Fernanda L&oacute;pez</p>
    </footer>